#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Microsoft OneDrive
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mkaeieibklopehicegkggpmnjimekkjp
Icon=chrome-mkaeieibklopehicegkggpmnjimekkjp-Default
StartupWMClass=crx_mkaeieibklopehicegkggpmnjimekkjp
