#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DbDiagram.io
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=odbdibammpmdljmjbedfhelodglpmocd
Icon=chrome-odbdibammpmdljmjbedfhelodglpmocd-Default
StartupWMClass=crx_odbdibammpmdljmjbedfhelodglpmocd
