#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Dyno Healthy
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hbkjbioimnbkhhkondcencecbckbbkel
Icon=chrome-hbkjbioimnbkhhkondcencecbckbbkel-Default
StartupWMClass=crx_hbkjbioimnbkhhkondcencecbckbbkel
